:root {
    --primary-bg-color: #f4f4f4;
    --secondary-color:#f8f9fa;;
    --number-color: #f8f8f8;
    --border-box: border-box;
    --font-weight: 600;
    --hover-color: #c6cbce;
    --equals-sign-color: #92c2e8;
    --mc-mr-color: #dcdcdc;
    --white-color: #fff;
    --primary-font-size: 4rem;
    --secondary-font-size: 1.1rem
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    box-sizing: var(--border-box);
}

.container {
    max-width: 450px;
    width: 100%;
    background-color: var(--primary-bg-color);
}

.calculator {
    width: 100%;
     background-color: var(--primary-bg-color);
    display: grid;
    grid-template-rows: 1fr 3.5fr;
}

.calculator__display {
    background-color: var(--primary-bg-color);
    font-weight: var(--font-weight);
    text-align: end;
    font-size: var(--primary-font-size);
    box-sizing: var(--border-box);
    width: 100%;
}

.calculator__input-area {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    gap: 0.25rem;
}

.row {
    background-color: var(--primary-bg-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.25rem;
    box-sizing: border-box;
}

.row-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.row-1 > button {
    border: none;
    box-sizing: var(--border-box);
    background-color: var(--primary-bg-color);
}


.row-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.row-2 > button {
    border: none;
    font-size: var(--secondary-font-size);
    padding: 1rem;
    box-sizing: var(--border-box);
    background-color: var(--primary-bg-color);
}



.row-advance-fun {
    display: grid;
    grid-template-columns: 40% 40%;
    background-color: var(--primary-bg-color);
}

.adv-btn-style {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    gap: 4px;
    font-size: var(--secondary-font-size);
}

#col-adv-opt  {
    background-color: var(--primary-bg-color);
    border: none;

}

#col-deg-opt > button {
    
    border: none;
    font-weight: var(--font-weight);
}

.row > button {
    border: none;
    background-color: var(--secondary-color);
    padding: 1rem;
    font-size: var(--secondary-font-size);
    box-sizing: var(--border-box);
}

#col-mc-style {
    color: var(--mc-mr-color);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

#col-mr-style {
    color: var(--mc-mr-color);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

#col-num-style {
    background-color: var(--white-color);
    font-weight: var(--font-weight);
}

#col-num-style:hover {
    background-color: var(--hover-color);
}

#equals-style {
    background-color: var(--equals-sign-color);
}

.row-1 > button:hover {
    background-color: var(--hover-color);
}


#col-adv-opt > button :hover {
    background-color: var(--hover-color);
}

#equals-style:hover {
    background-color: var(--hover-color);
}

button:hover {
    background-color: var(--hover-color);
}

